body{
  background-color: rgb(208, 208, 208);
  font-family: sans-serif;
  margin: 0;
  height: 100vh;
}

.main-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  
}

h2 {
  font-size: 2rem;
  text-align: center;
}

ol {
  list-style: none;
}

.main-container section{
  height: 5rem;
}

#nav-bar ol {
  margin: 3rem 0.5rem 1rem 3rem;
  padding: 4rem 0 4rem 2rem;
}
#nav-bar li {
  margin: 0.5rem 0;
  padding: 2.5rem 2rem;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  align-items: center;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.8);
}

.default-navbar{
  background-color: rgb(226, 154, 0);
}

.navbar-click-highlight {
  transform: scale(1.05);
  background-color: rgb(249, 66, 0);
}


#nav-bar li:hover {
  cursor: pointer;
  background-color: rgb(249, 66, 0);
  transform: scale(1.05);
  transition: 0.3s;
}

ol {
  list-style: none;
}

.container {
  margin: 0;
  height: 90vh;
  width: 80vw;
}

.question {
  margin: 2rem 0;
  padding: 0;
  width: 90%;
}

.answers {
  list-style: none;
  margin-top: 7rem;
  margin-right: 3rem;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  justify-content: space-between;
  align-items: center;
  gap: 3rem 5rem; 
}

.original-color-li{
  background-color: rgb(158, 155, 249);
}
.answers li {
  border-radius: 3px;
  padding: 1.5rem 4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  gap: 1rem;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.8);
}

.answers li:hover {
  background-color: rgb(65, 58, 250);
}


.show {
  display: block;
}

.hide {
  display: none;
}

button {
  margin: 0;
  width: 7rem;
  height: 3rem;
  font-size: 1rem;
  background-color: rgb(196, 200, 103);
  border-radius: 5px;
  border-width: 1px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
button:hover {
  background-color: yellow;
  border-width: 2px;
}

.prev1{
  visibility: hidden;
}

.green-answer{
  background-color: green;
}

.result-button {
  background-color: rgb(196, 200, 103);
  border-width: 1px;
}
.result-button:hover{
  background-color: rgb(196, 200, 103);
  border-width: 1px;
}

.show-result-btn:hover {
  background-color: yellow;
  border-width: 1px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 55rem) {
  .answers{
    display: grid;
  grid-template-columns: repeat(3, 5rem);
  gap: 2rem 5rem;
  }
}

@media (max-width: 55rem) {
  .answers{
  grid-template-columns: repeat(2, 5rem);
  grid-template-rows: repeat(4, 5rem);
  gap: 1.5rem 3rem;
  padding: 0;
  margin-top: 3rem;
  justify-content: space-evenly;
  margin-right: 0;
  }
  #nav-bar ol{
    margin-left: 0;
  }
  #nav-bar li{
    padding: 2.5rem 1rem;
  }
  .answers li {
    padding: 1rem 3rem;
  }
  h2{
    font-size: 1.5rem;
  }
}

@media (max-width: 30rem) {
  .answers{
    justify-content: space-between;
    margin-right: 2rem;
  }
  #nav-bar ol{
    margin-right: 0.5rem;
  }
  h2{
    font-size: 1rem;
  }
}